<p id="notice"><%= notice %></p>
<h1>Welcome to MovieStream!</h1>
<h2>Watch unlimited number of movies from anywhere</h2>
<p>Movie Stream is a subscription based web application that focuses on streaming the best collection of movies from around the world using the IMDb dataset.
It houses top rated movies from all over the world and across different genres. Feel free to move about, but most importantly,
do not forget to subscribe </p>
<br>
<div style=width 500><%= bar_chart (@data) %></div>
<h3>Search the movies database</h3>

<table>
  <thead>
    <tr>
      <th>Imdb</th>
      <th>Title</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Director</th>
      <th>Country</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.imdb_id %></td>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.director %></td>
        <td><%= movie.country %></td>
        <td><%= movie.description %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
