<!DOCTYPE html>
<html>
  <head>
    <title>Movietimes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('fav.png') %>
    </head>

  <body>
      <div class="logo">
         
       <%= image_tag("mslogo.png",  :alt =>"MovieStream logo" ) %></div>
    <%= yield %>
  </body>
</html>
